
label{
        color:lightcoral
    }
    h1{
        color:blue
    }
    li{
        color:purple
    }
    body{
        background-color:palegreen;
    }
    .positioned{
        position: sticky;
        color: darkred;
        background-color: cyan;
        top: 30px;
        left: 30px;
    }
